﻿@model WebApplication4.ViewModels.BMIData

@{
    ViewBag.Title = "Index";
}

<h2>BMI計算</h2>

<form action="/BMI/Index" method="post">
    <p>@Html.DisplayNameFor(a=>a.Height):@Html.TextBoxFor(a => a.Height) @Html.ValidationMessageFor(h=>h.Height)</p>
    <p>@Html.DisplayNameFor(a => a.Weight):@Html.TextBoxFor(a => a.Weight) @Html.ValidationMessageFor(h => h.Weight)</p>
    <p><input type="submit" name="name" value="送出" /></p>
</form>

<p>計算結果:@Model.Result</p>
<p>等級:@Model.Level</p>