﻿
@{
    ViewBag.Title = "HtmlHelper";
}

<h2>Html Helper</h2>

<p>姓名 : @Html.TextBox("username")</p>
<p>帳號 : @Html.TextBox("account")</p>
<p>密碼 : @Html.Password("pwd")</p>
<p>
    性別 :
    @Html.RadioButton("gender", "A") 男
    @Html.RadioButton("gender", "B") 女
</p>
<p>
    興趣 :
    @Html.CheckBox("habby-1", "A")游
    @Html.CheckBox("habby-2", "B")閱
    @Html.CheckBox("habby-3", "C")看
</p>
<p>自我介紹 : @Html.TextArea("aboutme")</p>

@*<p>姓名 : <input type="text" name="username" value="" /></p>
    <p>帳號 : <input type="text" name="account" value="" /></p>
    <p>密碼 : <input type="password" name="pwd" value="" /></p>
    <p>
        性別 :
        <input type="radio" name="gender" value="A" />男
        <input type="radio" name="gender" value="B" />女
    </p>
    <p>
        興趣 :
        <input type="checkbox" name="hobby-1" value="A" />游泳
        <input type="checkbox" name="hobby-2" value="B" />閱讀
        <input type="checkbox" name="hobby-3" value="C" />看電影
    </p>
    <p>自我介紹 : <textarea></textarea></p>*@

