﻿
@{
    ViewBag.Title = "Razor";
}

<h2>Razor</h2>

@{
    var success = false;
}

@if (success == true)
{
    <p>成功</p>
}
else
{
    <p>失敗</p>
}

<hr />
印出1-10 <br />

@for (int i = 1; i <= 10; i++)
{
    <p>i @i</p>
}

<hr />

@{
    string[] fruits = { "蘋果", "香蕉", "荔枝", "鳳梨", "西瓜" };
}

<ol>
    @foreach (var item in fruits)
    {
        <li>@item</li>
    }
</ol>